* {
  margin: 0;
  padding: 0;
}

.text {
  color: white;
}

.score {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.25rem 0.7rem;
  border-radius: 8px;
}